.weather{
    text-align: center;
}

.weather__row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.weather__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather__city{
    font-size: 35px;
}
.weather__desc {
    font-size: 30px;
}
.weather__temper{
    font-size: 20px;
}